// colors
$bgColor: #383434;
$textColorMain: #3F3F3F;
$textColorSecondary: #3b3535;
$accentColor: #FF8484;
$accentColorLight: #FFFFFF;
$contentBlockBg: #c9c1ad;
// btn
$submitColorDisabled: #e7d7d2;
$submitColorActive: #7BAE73;

// mediaQuery breakpoints
$maxContentWidth: 1439.98+px;
$b1280: 1279.99+px;
$b1024: 1023.99+px;
$b992: 991.98+px;
$b768: 767.98+px;
$b480: 479.98+px;